body {
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	line-height: 1.2em;
}

h1 {
	font-size: 4.5em;
	line-height: 1em;
}

a, a:visited, a:active {
	color: #E9D558;
}

a:hover {
	color: #FFAB07;
}

input, select, button {
	font-size: 0.8em;
}

ul {
	padding: 1em 2em;
}

p {
	padding-top: 1em;
}

.major {
	margin-bottom: 2.5em;
}

.right {
	float: right;
}

#wrapper {
	width: 80%;
	margin: auto;
}

.curvedBox {
	padding: 2em;
	background-color: #434D53;
	-moz-border-radius:1em;
	-webkit-border-radius:1em;
	border-radius:1em;
	color: #72AD75;
}

#search label, #search select, #search input {
	margin-right: 1.5em;
}
#search .submit {
	margin-right: 0.75em;
}
#help {
	float:left;
	position: relative;
}
#help a {
	color: #FFAB07;
	text-decoration: none;
}
#help a:hover {
	border-bottom: 1px dotted #FFAB07;
}

#advancedSearchContainer {
	margin-bottom: 1em;
}

.advSearchLine {
	margin-top: 1em;
}

.nounderline {
	text-decoration: none;
}

.mark {
	font-size: 4em;
}

#exactMatch.mark {
    color: lime;
}

#manyMatches.mark {
	color: #ff7f00;
}

#noMatchRoundTwo.mark {
	color: red;
}

#searchDesc, #exactMatch, #manyMatches, #noMatchRoundOne, #noMatchRoundTwo, #searchExplanation {
	display:none;
}

#matchesTable {
	margin-top:2em;
	background-color: #72AD75;
	color: #434D53;
	text-align: left;
	font-size: 0.75em;
}
#matchesTable td, #matchesTable th {
	padding: 0.25em 0.5em;
}
#matchesTable th {
	border-bottom: 1px solid #0E8D94;
	padding-bottom: 0.125em;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

* {
	margin: 0;
}
html, body {
	height: 100%;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -2.5em; /* the bottom margin is the negative value of the footer's height */
}
#footer, .push {
	height: 2.2em; /* .push must be the same height as .footer */
}